    .classe1{
    color: rgb(92, 31, 31); 
    font-weight: 800; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .classe2{
    color: rgb(255, 0, 0); 
    font-weight: 800; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }